@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F7FA;
  --foreground: #0D0D14;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Space+Mono:wght@400;700&family=Outfit:wght@300;400;500&display=swap');